.bg_month_1 {
    background-color: #f5b7b1 !important;
} /* Enero */
.bg_month_2 {
    background-color: #aeb6bf !important;
} /* Febrero */
.bg_month_3 {
    background-color: #f5cba7 !important;
} /* Marzo */
.bg_month_4 {
    background-color: #d7bde2 !important;
} /* Abril */
.bg_month_5 {
    background-color: #d98880 !important;
} /* Mayo */
.bg_month_6 {
    background-color: #a9cce3 !important;
} /* Junio */
.bg_month_7 {
    background-color: #a3e4d7 !important;
} /* Julio */
.bg_month_8 {
    background-color: #f9e79f !important;
} /* Agosto */
.bg_month_9 {
    background-color: #d5dbdb !important;
} /* Septiembre */
.bg_month_10 {
    background-color: #a9dfbf !important;
} /* Octubre */
.bg_month_11 {
    background-color: #edbb99 !important;
} /* Noviembre */
.bg_month_12 {
    background-color: #a2d9ce !important;
}
